# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.env/
venv/
ENV/

# Scrapy specific
.scrapy
.scrapy.state
.scrapyd/
scrapy.cfg

# Logs
*.log

# Crawler data
/data/

# Other
.DS_Store
.idea/
